<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 style="color:#1D351D;">Denuncias</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)" style="color:#1D351D;">Home</a>
            </li>
            <li class="breadcrumb-item active">Denuncias</li>
        </ol>
    </div>
</div>

<div class="row el-element-overlay">
    <div class="col-md-4" *ngFor="let item of data; let i = index" [attr.data-index]="i">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">Denuncia {{item.id}}</h4>
                <h5 class="card-title">{{item.fecha | date: 'medium'}}</h5>
                <h6 class="card-title">Producto: {{item.nombreProducto}}</h6>
                <p class="card-text">{{item.denuncia}}</p>
                <button [disabled]="item.estado == 0 || item.estadoProducto == 0" class="btn btn-rounded btn-danger" (click)="bloquear(item.id, item.producto, item.nombreProducto, item.correo, item.nombre, item.apellido)"><i class="fa fa-ban"></i> Bloquear publicación</button>
            </div>
        </div>
    </div>
</div>