<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 style="color:#1D351D;">Productos</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)" style="color:#1D351D;">Home</a>
            </li>
            <li class="breadcrumb-item active">Productos</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row el-element-overlay">
    <div class="col-lg-12 col-xlg-6">
        <button type="button" class="btn waves-effect waves-light btn-rounded btn-success" data-toggle="modal" data-target="#modalFormDataAdd">
            <i class="fa fa-plus"></i> Agregar
        </button>
        <div class="card"></div>
    </div>

    <div class="col-lg-12 col-xlg-6">
        <div class="form-group">
            <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i> </span>
            <input type="text" class="form-control" id="recipient-name" [(ngModel)]="search">
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xlg-6">
        <select class="form-control" name="selectCategoria" (change)="onChange($event.target.value)">
            <option selected value="0">Todas las categorias</option>
            <option *ngFor="let item of categorias" value="{{item.id}}">{{item.nombre}}</option>
        </select>
    </div>
    <div class="col-lg-12 col-xlg-6">
        <select class="form-control" name="selectPrecio" (change)="onChangeASC($event.target.value)">
            <option selected value="0">Precio</option>
            <option value="ASC">Ascendente</option>
            <option value="DESC">Descendente</option>
        </select>
    </div>
</div><br>

<div class="row el-element-overlay">

    <div class="col-lg-3 col-md-6" *ngFor="let item of data |filter:search">
        <div class="card">
            <div class="el-card-item" style="padding-bottom: 0px !important">
                <div class="el-card-avatar el-overlay-1"> <img  src="{{item.picture==''?'https://res.cloudinary.com/devgea-s-a/image/upload/v1594950613/Finca%20Cienaguilla/mkdr6jfwkclzdzubuuwb.png':item.picture}}"  />
                    <div class="el-overlay">
                        <ul class="el-info">
                            <li *ngIf="item.usuario == usuarioID"><a class="btn default btn-outline" href="javascript:void(0);" data-toggle="modal" data-target="#modalFormDataUpdate" (click)="getData(item)"><i class="icon-note"></i></a></li>
                            <!-- <li><a class="btn default btn-outline" ><i class="icon-trash"></i></a></li>-->
                            <li><a class="btn default btn-outline" href="javascript:void(0);" (click)="goToRoute('producto/' + item.id)"><i class="icon-info"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="el-card-content">
                    <h3 class="box-title">{{item.nombre==null?'No Disponible':item.nombre}}</h3>
                    <h5>Q {{ item.precio | number : '1.2-2'}}</h5>
                    <small>{{item.clave==null?'No Disponible':item.clave}}</small>
                </div>
            </div>
            <!--<div class="card-body" style="padding: 1rem !important;">
                <a style="background-color: #C21313;" href="#" class="btn btn-danger text-uppercase btn-rounded" alt="default" data-toggle="modal" data-target=".bs-example-modal-lg" (click)="getItem('s')">Ver más</a>
            </div>-->
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" *ngIf="itemDetalle">
                <h4 class="modal-title" id="myLargeModalLabel">{{itemDetalle.titulo}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="row el-element-overlay"  style="margin-bottom: 0px !important;">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8"  *ngIf="itemDetalle">
                                <div class="card" style="margin-bottom: 0px !important;">
                                    <div class="el-card-item"  style="margin-bottom: 0px !important;">
                                        <div class="el-card-avatar el-overlay-1"  style="margin-bottom: 0px !important;"> 
                                            <img src="{{itemDetalle.img}}" alt="user" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6" *ngIf="itemDetalle">
                        <h1>{{itemDetalle.titulo}}</h1>
                        <h3>Q {{ itemDetalle.precio | number : '1.2-2'}}</h3>
                        <p>{{itemDetalle.descripcion}}</p>
                        <div class="row">
                            <div class="col-lg-3 col-md-6"></div>
                            <div class="col-lg-2 col-md-6 divcont">
                                <button type="button" class="btn btn-outline-danger btn-rounded centerbut" (click)="restarCantidad()"><i class="fa fa-minus"></i></button>
                            </div>
                            <div class="col-lg-2 col-md-6" style="text-align: center;">
                                <h2>{{cantidad}}</h2>
                            </div>
                            <div class="col-lg-2 col-md-6 divcont">
                                <button type="button" class="btn btn-outline-danger btn-rounded centerbut" (click)="sumarCantidad()"><i class="fa fa-plus"></i></button>
                            </div>
                            <div class="col-lg-3 col-md-6"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-uppercase btn-rounded" data-dismiss="modal">Cerrar</button>
                <button type="button" style="background-color: #C21313;"  class="btn btn-danger text-uppercase btn-rounded" data-dismiss="modal" (click)="agregarCarrito()">Agregar Carrito</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- ============================================================== -->
<!-- MODAL RESPONSIVE AGREGAR -->
<!-- ============================================================== -->
<div id="modalFormDataAdd" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <form class="modal-dialog modal-lg" [formGroup]="formData" (ngSubmit)="create()">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row el-element-overlay"  style="margin-bottom: 0px !important;">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="card" style="margin-bottom: 0px !important;">
                                    <div class="el-card-item"  style="margin-bottom: 0px !important;">
                                        <div class="el-card-avatar el-overlay-1"  style="margin-bottom: 0px !important;"> 
                                            <img *ngIf="!file" src="https://res.cloudinary.com/devgea-s-a/image/upload/v1594950613/Finca%20Cienaguilla/mkdr6jfwkclzdzubuuwb.png" alt="user" />
                                            <img *ngIf="file" src="{{strImage}}" alt="user" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Seleccionar Imagen</label>
                            <input (change)="seleccionImage($event.target.files[0])" type="file" class="form-control" id="exampleInputFile" aria-describedby="fileHelp" >
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Nombre:</label>
                            <input type="text" class="form-control" id="recipient-name" formControlName="nombre" name="nombre">
                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                <div class="alert alert-danger" role="alert" *ngIf="nombre.errors.required">
                                  El nombre es requerido
                                </div>
                                <div class="alert alert-warning" role="alert" *ngIf="nombre.errors.maxlength">
                                  La longitud maxima es de 50 caracteres
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Descripción:</label>
                            <textarea class="form-control" id="message-text" formControlName="descripcion" name="descripcion"></textarea>
                            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                                <div class="alert alert-danger" role="alert" *ngIf="descripcion.errors.required">
                                  La descripción es requerida
                                </div>
                                <div class="alert alert-warning" role="alert" *ngIf="descripcion.errors.maxlength">
                                  La longitud maxima es de 255 caracteres
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Precio:</label>
                            <div class="input-group">
                            <span class="input-group-addon">Q</span>
                            <input type="text" class="form-control" id="recipient-name" formControlName="precio" name="precio">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Palabras Claves:</label>
                            <textarea class="form-control" id="message-text" formControlName="clave" name="clave"></textarea>
                            <div *ngIf="clave.invalid && (clave.dirty || clave.touched)">
                                <div class="alert alert-danger" role="alert" *ngIf="clave.errors.required">
                                  Las palabras claves son requeridas
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Categoría</label>
                            <select class="form-control" formControlName="categoria" name="categoria">
                                <option *ngFor="let item of categorias" value="{{item.id}}">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" (click)="uploadImage()">Subir Imagen</button>
                <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success" [disabled]="!formData.valid">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>

<!-- ============================================================== -->
<!-- MODAL RESPONSIVE AGREGAR -->
<!-- ============================================================== -->
<div id="modalFormDataUpdate" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <form class="modal-dialog modal-lg" [formGroup]="formData" (ngSubmit)="update()">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Actualizar Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row el-element-overlay"  style="margin-bottom: 0px !important;">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="card" style="margin-bottom: 0px !important;">
                                    <div class="el-card-item"  style="margin-bottom: 0px !important;">
                                        <div class="el-card-avatar el-overlay-1"  style="margin-bottom: 0px !important;"> 
                                            <img *ngIf="!file" src="https://res.cloudinary.com/devgea-s-a/image/upload/v1594950613/Finca%20Cienaguilla/mkdr6jfwkclzdzubuuwb.png" alt="user" />
                                            <img *ngIf="file" src="{{strImage}}" alt="user" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Seleccionar Imagen</label>
                            <input (change)="seleccionImage($event.target.files[0])" type="file" class="form-control" id="exampleInputFile" aria-describedby="fileHelp" >
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Nombre:</label>
                            <input type="text" class="form-control" id="recipient-name" formControlName="nombre" name="nombre">
                            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                <div class="alert alert-danger" role="alert" *ngIf="nombre.errors.required">
                                  El nombre es requerido
                                </div>
                                <div class="alert alert-warning" role="alert" *ngIf="nombre.errors.maxlength">
                                  La longitud maxima es de 50 caracteres
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Descripción:</label>
                            <textarea class="form-control" id="message-text" formControlName="descripcion" name="descripcion"></textarea>
                            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                                <div class="alert alert-danger" role="alert" *ngIf="descripcion.errors.required">
                                  La descripción es requerida
                                </div>
                                <div class="alert alert-warning" role="alert" *ngIf="descripcion.errors.maxlength">
                                  La longitud maxima es de 255 caracteres
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Precio:</label>
                            <div class="input-group">
                            <span class="input-group-addon">Q</span>
                            <input type="text" class="form-control" id="recipient-name" formControlName="precio" name="precio">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Palabras Claves:</label>
                            <textarea class="form-control" id="message-text" formControlName="clave" name="clave"></textarea>
                            <div *ngIf="clave.invalid && (clave.dirty || clave.touched)">
                                <div class="alert alert-danger" role="alert" *ngIf="clave.errors.required">
                                  Las palabras claves son requeridas
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Categoría</label>
                            <select class="form-control" formControlName="categoria" name="categoria">
                                <option *ngFor="let item of categorias" value="{{item.id}}">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary" (click)="uploadImage()">Subir Imagen</button>
                <button type="submit" class="btn waves-effect waves-light btn-rounded btn-success" [disabled]="!formData.valid">Guardar Cambios</button>
            </div>
        </div>
    </form>
</div>