<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 style="color:#1D351D;">Chat Online</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)" style="color:#1D351D;">Home</a>
            </li>
            <li class="breadcrumb-item active">Chat Online</li>
        </ol>
    </div>
</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card m-b-0">
            <!-- .chat-row -->
            <div class="chat-main-box">
                <!-- .chat-left-panel -->
                <div class="chat-left-aside">
                    <div class="open-panel"><i class="ti-angle-right"></i></div>
                    <div class="chat-left-inner">
                        <div class="form-material">
                            <input class="form-control p-20" type="text" placeholder="Search Contact">
                        </div>
                        <ul class="chatonline style-none ">
                            <div *ngFor="let item of usuarios">
                                <li *ngIf="item.id != idUsuario" (click)="seleccionarMensaje(item)">
                                    <a href="javascript:void(0)"><img src="{{item.picture}}" alt="user-img"
                                            class="img-circle"> <span>{{item.nombre}} {{item.apellido}}<small
                                                class="text-success">online</small></span></a>
                                </li>
                            </div>
                            <li class="p-20"></li>
                        </ul>
                    </div>
                </div>
                <!-- .chat-left-panel -->
                <!-- .chat-right-panel -->
                <div class="chat-right-aside">
                    <div class="chat-main-header">
                        <div class="p-20 b-b">
                            <h3 class="box-title">Chat Message</h3>
                        </div>
                    </div>
                    <div class="chat-rbox">
                        <ul class="chat-list p-20">
                            <div *ngFor="let item of mensajes">
                            <!--chat Row -->
                            <li *ngIf="item.usuario1!=idUsuario">
                                <div class="chat-img"><img src="{{selectData.picture}}" alt="user" /></div>
                                <div class="chat-content">
                                    <h5>{{selectData.nombre}} {{selectData.apellido}}</h5>
                                    <div class="box bg-light-info">{{item.mensaje}}</div>
                                </div>
                                <div class="chat-time">{{item.hora | date: 'shortTime'}}</div>
                            </li>
                            <!--chat Row -->
                            <li class="reverse" *ngIf="item.usuario1==idUsuario">
                                <div class="chat-content">
                                    <h5>{{nombre}}</h5>
                                    <div class="box bg-light-inverse">{{item.mensaje}}</div>
                                </div>
                                <div class="chat-img"><img src="{{picture}}" alt="user" /></div>
                                <div class="chat-time">{{item.hora | date: 'shortTime'}}</div>
                            </li>
                            </div>
                            
                        </ul>
                    </div>
                    <form class="card-body b-t" [formGroup]="formData" (ngSubmit)="saveChanges()">
                        <div class="row">
                            <div class="col-8">
                                <textarea placeholder="Escribe tu mensaje aquí" class="form-control b-0" formControlName="mensaje" name="mensaje"></textarea>
                            </div>
                            <div class="col-4 text-right">
                                <button type="submit" class="btn btn-info btn-circle btn-lg" [disabled]="!formData.valid">
                                    <i class="fa fa-paper-plane-o"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!--                       NOTIFICACION                             -->
<!-- ============================================================== -->
<simple-notifications [options]="options"></simple-notifications>